.todo-card {
	width: 100%;
	max-width: 600px;
}

.todo-card h3 {
	margin-bottom: 3px;
}

.todo-card div input {
	margin-right: 8px;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
